:root {
    --compact-sidebar: 80px;
    --full-sidebar: 200px;
    --sidebar-color: #001f44;
}

/* Universal styles */
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: sans-serif, Helvetica, Arial;
}

header {
    width: 100%;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 1%;
    position: static;
}

h1, h2, h3, h4, h5 {
    margin: 0 !important;
}

body {
    background-color: whitesmoke !important;
}

header {
    background-color: white;
    height: 70px;
}
header h1 {
    font-size: 2rem !important;
}

#navigation-bar {
    position: fixed;
    background: var(--sidebar-color);
    z-index: 100;
}

#navigation-bar a {
    text-decoration: none;
    color: white;
}

ul li{
    list-style-type: none !important;
}



/* Tamanhos Material.io */
/* Small */
@media only screen and (max-width: 600px) {
    main {
        margin: 16px;
    }
    #navigation-bar {
        height: 70px;
        width: 100vw;
        bottom: 0;
        background-color: rgba(0, 31, 68, .8) !important;
    }
    #navigation-bar span {
        display: none;
    }
}
/* Medium */
@media only screen and (min-width: 600px) {
    main {
        margin: 24px;
        margin-left: calc(var(--compact-sidebar) + 24px);
    }
    #navigation-bar {
        height: calc(100vh - 70px);
        top: 70px;
        width: var(--compact-sidebar);
        transition: 150ms;
    }
    #navigation-bar span {
        display: none;
    }
    #navigation-bar:hover {
        width: var(--full-sidebar);
    }
    #navigation-bar:hover span {
        display: initial;
    }
}
/* Large */
@media only screen and (min-width: 841px) {
    main {
        margin: 24px;
        margin-left: calc(var(--full-sidebar) + 24px);
    }
    #navigation-bar {
        height: calc(100vh - 70px);
        top: 70px;
        width: var(--full-sidebar);
    }
    #navigation-bar span {
        display: initial;
    }
}